@{
    ViewData["Title"] = "Acesso Negado";
}

<h1>@ViewData["Title"]</h1>
<h3 class="description">Você não tem acesso a esta página.</h3>
<hr />
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-default">Menu Inicial</a>