@{
    ViewData["Title"] = "Confirme o email";
}

<h1>@ViewData["Title"]</h1>
<h3 class = "description">Foi-lhe enviada uma mensagem de confirmação para o seu email, finalize o seu registo clicando na hiperligação da mensagem.</h3>
<hr />
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-default">Menu Inicial</a>
