@{
    ViewData["Title"] = "Email confirmado";
}

<h1>@ViewData["Title"]</h1>
<h3 class="description">Obrigado por confirmar o seu email! Pode agora autenticar-se.</h3>
<hr />
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-default">Menu Inicial</a>
