@{
    ViewData["Title"] = "Confirme o seu email";
}

<h1>@ViewData["Title"]</h1>
<h3>Foi-lhe enviada uma mensagem de confirmação para o seu email, finalize o seu registo clicando no link da mensagem.</h3>
