@{
    ViewData["Title"] = "Esqueceu-se da sua Password?";
}

<h1>@ViewData["Title"]</h1>
<h3 class="description">Foi enviado um email para reiniciar a password.</h3>
<hr />
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-default">Menu Inicial</a>