
@{
    ViewData["Title"] = "Repor password";
}

<h1>@ViewData["Title"]</h1>
<h3 class="description">A sua password foi reposta. Por favor <a asp-action="Login">clique aqui para se autenticar</a>.</h3>