body {
    padding-top: 35px;
    background-color: #F8F8F8;
}

h1 {
    font-size: 2em;
    color: #FF9D00;
    padding-bottom: 10px;
}

.navbar-fixed-top {
    border-radius: 0px 0px 10px 10px;
}

h4 {
    font-size: 16px;
    color: #FF9D00;
    padding-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 2%;
    min-height: 55vh;
    margin-right: 5%;
    margin-left: 5%;
}

.body-content h1{
    margin-top: 0px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Nav properties*/
nav {
    background-color: #ffd587;
}

.navbar-nav li a {
    color:black;
}

/* Nav hover properties*/
    .navbar-nav li a:hover {
        background-color: #FFC261;
    }

/* Header properties*/
header {
    background-color: #FFFFFF;
    width: 100%;
}

.navbar-left {
    padding-top: 3px;
    padding-bottom: 3px;
}

div.banner {
    width: auto;
    min-height: 31.04vh;
    max-height: 31.04vh;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin-left: 28%;
    height: 25vh;
    width: 67%;
    text-align: center;
    padding-top: 1em;
}

.title h1{
    font-size: 3em;
    font-weight: bold;
    color: black;
    padding-bottom: initial;
}

div.title h2 {
    font-size: 1.5em;
    font-weight: bold;
}

@media only screen and (max-width: 810px){
    .navbar-left{
        display: none;
    }
    
    div.banner{
        height: 18vh;
    }
    
    div.title {
        padding-top: 0;
        margin-left: 0;
        width: 100%;
        height:18vh;
    }

    div.title h1{
        font-size: 3em;
    }

        div.title h2 {
            font-size: 1.5em;
        }

    div.ipslogo {
        display: none;
    }
}

/* Hide/rearrange for smaller screens */
@media only screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.menubar {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 100%;
    height: 2.5em;
    background-color: #ffd587;
    border-top: 1px solid #9E9B96;
    border-bottom: 1px solid #9E9B96;
    list-style-type: none;
    text-align: center;
}

    .menubar li {
        height: 2.3em;
        width: 25%;
        float: left;
        align-content:center;
    }

        .menubar li:first-child {
            border-left: 1px solid #9E9B96;
        }

        .menubar li a {
            display: block;
            color: black;
            text-align: center;
            text-decoration: none;
            height: 2.3em;
            padding-top: 6px;
            font-weight: bold;
            border-right: 1px solid #9E9B96;
        }

            .menubar li a.midmenuright{
                border-left: 1px;
            }

            .menubar li a:hover {
                background-color: #FFC261;
            }

.breadcrumb {
    background-color: #ffebba;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6%;
    font-size: 13px;
    border-bottom: 1px solid #9E9B96;
}

body {
    min-height: 100%;
    height: 100%;
}

footer {
    width: 100%;
    background-color: #ffd587;
    border-top: 1px solid #9E9B96;
    height: 40px;
}

.footer-contacts{
    text-align: right;
}

.footer-contacts p {
    margin: 0px;
    line-height: 1.25;
}

.bottom-content {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

.header-container {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

.description {
    font-size: 16px;
    color:black;
    padding-bottom: 10px;
    margin-top:0;
    font-weight:bold;
}

li .btn{
    padding: 10px 15px;
    border: 0;
}

.logos {
    display: block;
    margin: 0;
    list-style-type: none;
}

.logos li{
    margin-top: 4px;
    margin-right: 15px;
    float: left;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    font-weight: bold;
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 320px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

        

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }


.profile-info {
    width: 100%;
}

.profile-left-container {
    width: 40%;
    float: left;
}

.profile-school-info {
    margin-left: 40%;
}

.search-options {
    padding: 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    vertical-align: middle;
}

.search-box {
    padding: 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    vertical-align: middle;
}

.recent-news {
    border: 1px solid #BBBBBB;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20px 14px 20px;
}

.recent-news h1 {
    margin-top: 4px;
}

.trouble-ticket-answer-origin {
    border: 1px solid #BBBBBB;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20px 14px 20px;
}

.trouble-ticket-answer-response {
    border: 1px solid #BBBBBB;
    border-radius: 15px;
    background-color: #FEDBA3;
    padding: 10px 20px 14px 20px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown:hover {
        overflow: initial;
    }

.dropdown-content {
    background-color: #ffebba;
    position: relative;
    left: -1.5px;
    min-width: calc(100% + 1.5px);
    z-index: 1;
    border-left: 1px solid #9E9B96;
}

    .dropdown-content a {
        border-bottom: 1px solid #9E9B96;
    }

        .dropdown-content a:first-child {
            border-top: 1px solid #9E9B96;
        }

.dropdown-content-applications {
    background-color: #ffebba;
    position: relative;
    left: -1px;
    min-width: calc(100% + 1px);
    z-index: 1;
    border-left: 1px solid #9E9B96;
}

.dropdown-content-applications a {
    border-bottom: 1px solid #9E9B96;
}

    .dropdown-content-applications a:first-child {
        border-top: 1px solid #9E9B96;
    }

.icon-hover{
    padding: 12px 12px;
}
.icon-hover:hover {
    background-color: #d4d4d4;
}