body {
    padding-top: 40px;
    background-color: #EEEEEE;
}

h1 {
    font-size: 2em;
    color: #FF9D00;
    padding-bottom: 10px;
}

h3 {
    font-size: 2em;
    color: #FF9D00;
    padding-bottom: 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    min-height: 55vh;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Nav properties*/
nav {
    background-color: #FFC261;
}

.navbar-nav li a {
    color:black;
    font-weight: bold;
}
/* Nav hover properties*/
.navbar-nav li a:hover {
    background-color: #FF9D00;
}

/* Header properties*/
header {
    background-color: #EEEEEE;
    width: 100%;
}

.navbar-left {
    padding-top: 6px;
}

div.banner {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 100%;
}


div.ipslogo {
    background-image: url('../images/_ips-logotipo-site.png');
    min-height: 25vh;
    width: 27%;
    background-size: contain;
    background-repeat: no-repeat;
    float:left;
}

.title {
    margin-left: 28%;
    height: 25vh;
    width: 67%;
    text-align: center;
    padding-top: 1em;
}

.title h1{
    font-size: 3em;
    font-weight: bold;
    color: black;
    padding-bottom: initial;
}

div.title h2 {
    font-size: 1.5em;
    font-weight: bold;
}

@media only screen and (max-width: 810px){
    .navbar-left{
        display: none;
    }
    
    div.banner{
        height: 18vh;
    }
    
    div.title {
        padding-top: 0;
        margin-left: 0;
        width: 100%;
        height:18vh;
    }

    div.title h1{
        font-size: 3em;
    }

        div.title h2 {
            font-size: 1.5em;
        }

    div.ipslogo {
        display: none;
    }
}

/* Hide/rearrange for smaller screens */
@media only screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.menubar {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 100%;
    height: 2.5em;
    background-color: #FFC261;
    border-top: 1px solid #9E9B96;
    border-bottom: 1px solid #9E9B96;
    border-left:1px solid #9E9B96;
    list-style-type: none;
    text-align: center;
}

    .menubar li {
        height: 2.3em;
        width: 25%;
        float: left;
    }

        .menubar li:first-child {
            border-left: 1px solid #9E9B96;
        }

        .menubar li a {
            display: block;
            color: black !important;
            text-align: center;
            text-decoration: none;
            height: 2.3em;
            padding-top: 6px;
            font-weight: bold;
            border-right: 1px solid #9E9B96;
        }

            .menubar li a.midmenuright{
                border-left: 1px;
            }
            
            .menubar li a:hover {
                background-color: #FF9D00;
            }

.breadcrumb {
    background-color: #FEDBA3;
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6%;
    font-size: 13px;
    border-bottom: 1px solid #9E9B96;
}

body {
    min-height: 100%;
    height: 100%;
}

footer {
    width: 100%;
    background-color: #FFC261;
    border-top: 1px solid #9E9B96;
    height: 40px;
}

.bottom-content {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

.header-container {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

.description {
    font-size: 16px;
    color:black;
    padding-bottom: 10px;
    margin-top:0px;
    font-weight:bold;
}

li .btn{
    padding: 10px 15px;
    border: 0px;
}