@if(ViewData["Notified"] != null)
{
    @if ((bool)ViewData["Notified"])
    {
        <img src="~/images/ttsmall.png" height="36px"/>
    }
    else
    {
        <img src="~/images/TTopen.png" height="36px"/>
    }
}
else
{
    <p>Trouble Ticket</p>
}
