@if(ViewData["Notified"] != null)
{
    @if ((bool)ViewData["Notified"])
    {
        <img src="~/images/TTWarning.png" height="36px"/>
    }
    else
    {
        <img src="~/images/NoTT.png" height="36px"/>
    }
}
else
{
    <p>Trouble Ticket</p>
}
