@model CIMOBProject.Models.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar Publicação</h1>
<h3 class="description">Preencha os dados em baixo para criar uma nova Publicação</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Hidden("EmployeeId")
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>  <div class="tooltip">(?)<span class="tooltiptext">@ViewData["TitleTip"]</span></div>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextContent" class="control-label"></label>  <div class="tooltip">(?)<span class="tooltiptext">@ViewData["TextContentTip"]</span></div>
                <textarea asp-for="TextContent" class="form-control"></textarea>
                <span asp-validation-for="TextContent" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label for="link-text" class="control-label">Link do documento</label>  <div class="tooltip">(?)<span class="tooltiptext">@ViewData["DocumentTip"]</span></div><br />
                <input id="link-text" type="text" name="link" class="form-control"/>                
            </div>
            
            <div class="form-group">
                <input type="submit" value="Criar Publicação" class="btn btn-default" />
                <a class="btn btn-default" asp-action="Index">Voltar Atrás</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
