@{
    ViewData["Title"] = "ERRO!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Erro</h1>
<h3 class="description">Campos de pesquisa inválidos, por favor indique uma opção de pesquisa e um valor a pesquisar.</h3>
<hr />
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-default">Menu Inicial</a>