@model CIMOBProject.Models.Testemony

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
<div>
    @Html.DisplayFor(model => model.Content)
    <hr />
    <label>-&nbsp;</label>@Html.DisplayFor(model => model.ApplicationUser.UserFullname)
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-default">Voltar Atrás</a>
</div>
