@{
    ViewData["Title"] = "Contactos";
}
<h1>Contactos</h1>
<div class="contacts">
    <h3 class="description">Contactos</h3>
    <p><strong>Tel:</strong> + 351 265 790 159</p>
    <p><strong>E-mail:</strong> <a href="mailto:cimob@ips.pt">cimob@ips.pt</a></p>
    <br />
</div>

<div class="schedule">
    <h3 class="description">Horário de atendimento</h3>
    <p>A ESTSetúbal encontra-se encerrada entre 24 e 31 de dezembro de 2015, pelo que o CIMOB-IPS não fará atendimento presencial.</p>
    <p><strong>2.ª e 4.ª |</strong> 14h00 - 16h30</p>
    <p><strong>3.ª e 5.ª |</strong> 09h30 - 12h30</p>
    <p><strong>6.ª |</strong> Não há atendimento</p>
    <br />
</div>

<div class="address">
    <h3 class="description">Morada</h3>
    <p>Campus do IPS</p>
    <p>Edifício ESTSetúbal </p>
    <p>Estefanilha</p>
    <p>2910-761 Setúbal</p>
    <p>Portugal</p>
    <br />
</div>