@{
    ViewData["Title"] = "Home Page";
}

<h1>Apresentação</h1>
<div class="presentation">
    <p>O Centro para a Internacionalização e Mobilidade do Instituto Politécnico de Setúbal (CIMOB-IPS) é uma estrutura de coordenação e apoio às atividades que visam a prossecução de políticas orientadas para a progressiva internacionalização do IPS. A finalidade é gerir e aprofundar a vertente internacional do IPS, concretizando estratégias de desenvolvimento de programas, projetos e atividades de carácter formativo de âmbito internacional (comunitário e extracomunitário), incremento da mobilidade de estudantes, docentes e não docentes e a captação de estudantes estrangeiros.</p>
    <br />
    <p>O CIMOB-IPS tem a superintendência da Vice- Presidente, Professora Fernanda Pestana, por delegação do Presidente do IPS. É constituído por uma equipa técnica, responsável pela gestão dos programas, e por uma equipa de coordenadores da mobilidade, responsável pelo reconhecimento académico. Existe um coordenador da mobilidade por cada Escola Superior que é nomeado pelo respetivo Diretor da Escola.</p>
</div>
