@model CIMOBProject.Models.Edital

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Edital</h1>
<h3 class="description">Preencha os campos em baixo para editar um Edital existente.</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="edit-edital-dates">
                <h4>Datas</h4>
                <div class="form-group">
                    <label asp-for="OpenDate" class="control-label"></label>
                    <input asp-for="OpenDate" class="form-control" />
                    <span asp-validation-for="OpenDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CloseDate" class="control-label"></label>
                    <input asp-for="CloseDate" class="form-control" />
                    <span asp-validation-for="CloseDate" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="edit-edital-content">
                <h4>Conteúdo</h4>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TextContent" class="control-label"></label>
                    <input asp-for="TextContent" class="form-control" />
                    <span asp-validation-for="TextContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="link-text" class="control-label">Link do documento</label><br />
                    <input id="link-text" type="text" name="link" class="form-control" />
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-default" />
                <a class="btn btn-default" asp-controller="News" asp-action="Index">Voltar Atrás</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}