@model CIMOBProject.Models.Error

@{
    ViewData["Title"] = "Apagar Erro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apagar Erro</h1>

<h3>Tem a certeza que quer apagar este erro?</h3>
<div>
    <h4>Error</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ErrorCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ErrorCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ErrorDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ErrorDescription)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-default" />
        <a asp-action="Index" class="btn btn-default">Voltar Atrás</a>
    </form>
</div>
