@model CIMOBProject.Models.Interview

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Marcar Entrevista</h1>
<h3 class="description">Preencha os campos em baixo para marcar a entrevista.</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Hidden("EmployeeId")
            @Html.Hidden("ApplicationId")
            <div class="form-group">
                <label asp-for="InterviewDate" class="control-label"></label>  <div class="tooltip">(?)<span class="tooltiptext">@ViewData["InterviewDateTip"]</span></div>
                <input asp-for="InterviewDate" class="form-control" />
                <span asp-validation-for="InterviewDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Marcar Entrevista" class="btn btn-default" />
                <a class="btn btn-default" asp-action="Index">Voltar Atrás</a>
            </div>
        </form>
    </div>
</div>
